@font-face {
    font-family: sdchild;
    src: url("./../font/SDChildfundkoreaTTF.ttf");
    /*font-display: swap;*/
}

@font-face {
    font-family: bmjua;
    src: url("./../font/BMJUA.ttf");
    /*font-display: swap;*/
}

.bgImg {
    height: 100%;
}

.btnSave {
    pointer-events: auto;
    bottom: 20px;
    right: 28px;
}

.study_guide {
    right: 28px;
    top: 80px;
    font-size: 18px;
    z-index: 1;
}

.popLearning {
    position: absolute;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 68px;
    height: 60px;
    pointer-events: auto;
    background-color: #fff;
    cursor: pointer;
}

.popbox .popLearning.purple:hover {
    background-color: #DAD5F2;
}

.popbox .popLearning.purple.active {
    background-color: #DAD5F2;
}

.popbox .popLearning.pink:hover {
    background-color: #A7D1EB;
}

.popbox .popLearning.pink.active {
    background-color: #A7D1EB;
}

.popbox .popLearning.orange:hover {
    background-color: #F69CA0;
}

.popbox .popLearning.orange.active {
    background-color: #F69CA0;
}

.popbox .popLearning.green:hover {
    background-color: #FBC88F;
}

.popbox .popLearning.green.active {
    background-color: #FBC88F;
}

.popbox .popLearning.blue:hover {
    background-color: #ADD5ED;
}

.popbox .popLearning.blue.active {
    background-color: #ADD5ED;
}

.popLearning p span {
    color: #fff;
    background-color: #ccc;
    padding: 2px 8px;
    position: relative;
    top: 10px;
    font-size: 11px;
    border-radius: 5px;
}

.learning-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.learning-badge {
    color: #fff;
    background-color: #9f9fa0;
    padding: 1px 6px 1px 6px;
    border-radius: 5px;
}

.learning-list>li .learning-item>li:hover,
.learning-list>li .learning-item>li.off,
.popLearning.complete:hover {
    background-color: #FFDBEA;
}

.popbox .popLearning.pop0 .learning-badge {
    line-height: 1.2;
    font-family: "NotoM";
    font-size: 15px;
    padding: 1px 12px 1px 12px;
}

.popbox .popLearning.pop0 .learning-wrap {
    gap: 1px;
    font-size: 20px;
    line-height: 1;
}

/* .popbox .popLearning.pop0.active {
    background-image: url("../images/proto_ton_001/balloonImg1-active.png");
}

.popbox .popLearning.pop0:hover {
    background-image: url("../images/proto_ton_001/balloonImg1-hover.png");
    transition: all .1s
} */

.popbox .popLearning.pop0 {
    top: 180px;
    left: 180px;
    width: 100px;
    height: 100px;
    background-color: #fff;
    font-family: "sdchild";
    font-weight: bold;
}

.popLearning.purple {
    border: 2px solid #DAD5F2;
}

.popLearning.pink {
    border: 2px solid #F58F94;
}

.popLearning.blue {
    border: 2px solid #ADD5ED;
}

.popLearning.orange {
    border: 2px solid #FBC78D;
}

.popLearning.green {
    border: 2px solid #9EE2A8;
}

.popbox .popLearning.pop1 {
    top: 477px;
    left: 289px;
}

.popbox .popLearning.pop2 {
    top: 531px;
    left: 215px;
}

.popbox .popLearning.pop3 {
    top: 529px;
    left: 360px;
}

.popbox .popLearning.pop4 {
    top: 599px;
    right: 1050px;
}

.popbox .popLearning.pop5 {
    top: 600px;
    right: 971px;
}

.popbox .popLearning.pop6 {
    top: 139px;
    right: 694px;
}

.popbox .popLearning.pop7 {
    top: 201px;
    right: 755px;
}

.popbox .popLearning.pop8 {
    top: 265px;
    right: 798px;
}

.popbox .popLearning.pop9 {
    top: 329px;
    right: 811px;
}

.popbox .popLearning.pop10 {
    top: 391px;
    right: 778px;
}

.popbox .popLearning.pop11 {
    top: 452px;
    right: 742px;
}

.popbox .popLearning.pop12 {
    top: 210px;
    left: 620px;
}

.popbox .popLearning.pop13 {
    top: 276px;
    left: 591px;
}

.popbox .popLearning.pop14 {
    top: 343px;
    left: 591px;
}

.popbox .popLearning.pop15 {
    top: 408px;
    left: 628px;
}

.popbox .popLearning.pop16 {
    top: 483px;
    left: 632px;
}

.popbox .popLearning.pop17 {
    top: 169px;
    left: 721px;
}

.popbox .popLearning.pop18 {
    top: 243px;
    left: 720px;
}

.popbox .popLearning.pop19 {
    top: 313px;
    left: 730px;
}

.popbox .popLearning.pop20 {
    top: 385px;
    left: 721px;
}


.popbox .popLearning.pop21 {
    top: 460px;
    left: 721px;
}

.popbox .popLearning.pop22 {
    top: 200px;
    right: 497px;
}

.popbox .popLearning.pop23 {
    top: 273px;
    right: 489px;
}

.popbox .popLearning.pop24 {
    top: 343px;
    right: 483px;
}

.popbox .popLearning.pop25 {
    top: 423px;
    left: 800px;
}

.popbox .popLearning.pop26 {
    top: 225px;
    left: 1041px;
}

.popbox .popLearning.pop27 {
    top: 299px;
    left: 998px;
}

.popbox .popLearning.pop28 {
    top: 242px;
    left: 1128px;
}

.popbox .popLearning.pop29 {
    top: 312px;
    left: 1084px;
}

.popbox .popLearning.pop30 {
    top: 368px;
    left: 1008px;
}

.popbox .popLearning.pop31 {
    top: 308px;
    left: 1172px;
}

.popbox .popLearning.pop32 {
    top: 377px;
    left: 1160px;
}

.popbox .popLearning.pop33 {
    top: 400px;
    left: 1084px;
}

.popbox .popLearning.pop34 {
    top: 571px;
    left: 881px;
}

.popbox .popLearning.pop35 {
    top: 572px;
    left: 963px;
}

.popbox .popLearning.pop36 {
    top: 644px;
    left: 881px;
}

.popbox .popLearning.pop37 {
    top: 644px;
    left: 963px;
}

.popbox .popLearning.pop38 {
    top: 275px;
    left: 555px;
}

.popbox .popLearning.pop39 {
    top: 572px;
    left: 920px;
    padding-top: 18px;
}

.popbox .popLearning.pop40 {
    top: 535px;
    left: 1005px;
    padding-top: 18px;
}

.popbox .popLearning.pop41 {
    top: 463px;
    left: 1016px;
    padding-top: 18px;
}


.pop3 .starTitle {
    top: -10px;
}

.pop3 .starArrow.purple {
    bottom: 10px;
}

.pop3 .learning-badge {
    position: relative;
    top: 8px;
}

.pop4 .starTitle {
    top: -10px;
}

.pop4 .starArrow.blue {
    bottom: 10px;
}

.pop4 .learning-badge {
    position: relative;
    top: 8px;
}

.pop5 .starTitle {
    top: -10px;
}

.pop5 .starArrow.red {
    bottom: 10px;
}

.pop5 .learning-badge {
    position: relative;
    top: 8px;
}

/* .popbox .popLearning.pop42.active {
    background-image: url("../images/proto_ton_001/balloonImg2-active.png");
}

.popbox .popLearning.pop42:hover {
    background-image: url("../images/proto_ton_001/balloonImg2-hover.png");
    transition: all .1s;
} */

.popbox .popLearning.pop42 {
    bottom: 70px;
    right: 185px;
    width: 100px;
    height: 100px;
    background-color: #fff;
    font-family: "sdchild";
    font-weight: bold;
}

.popbox .popLearning.pop42 .learning-badge {
    line-height: 1.2;
    font-family: "NotoM";
    font-size: 15px;
    padding: 1px 12px 1px 12px;
}

.popbox .popLearning.pop42 .learning-wrap {
    gap: 1px;
    font-size: 20px;
    line-height: 1;
}

.greenText {
    color: #43ad50;
}

.starTitle {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 15px;
    background-color: #fff;
    border: 1px solid #afafb1;
    border-radius: 5px;
}

.starTitle::before {
    content: "";
    width: 7px;
    height: 7px;
    background-image: url("../images/proto_ton_001/before.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    left: 3px;
    top: 3px;
}

.starArrow {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    color: #fff;
    padding: 0px 3px 0px 0px;
    position: absolute;
    width: 38px;
    height: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.starArrow.purple {
    background-image: url("../images/proto_ton_001/arrow-purple.png");
    bottom: 37px;
    left: 50%;
    transform: translate(-50%, 0);
}

.starArrow.blue {
    background-image: url("../images/proto_ton_001/arrow-blue.png");
    bottom: 37px;
    left: 50%;
    transform: translate(-50%, 0);
}

.starArrow.red {
    background-image: url("../images/proto_ton_001/arrow-red.png");
    bottom: 37px;
    left: 50%;
    transform: translate(-50%, 0);
}