@charset "utf-8";
#wrap.math .contentsBox.board {
    color: #fff;
    text-align: justify
}

#wrap.math .contentsBox.board .lineBox {
    color: #000
}
#wrap.math .contentsBox.board .contentsBox {padding:0 10px}
#wrap.checkContainer .contentsBox .basicSlider.contentsBox {padding:0 !important}
#wrap header .title.active.preview .icon {transform: translate(0,0) !important}

#wrap.math .contentsBox.yellow {
    background: repeating-linear-gradient(to right,#fff4df,#fff4df 10px,#f8ddc9 10px,#ffeee1 20px);
    box-shadow: inset 0 7px 0 0 #ffeee1
}

.tableContainer.purple {
    margin: 0
}

.tableContainer.purple table {
    border: 5px solid #d4d2e8;
    border-collapse: collapse;
    table-layout: fixed
}

.tableContainer.purple table td {
    text-align: center;
    height: 62px;
    background-color: #fff;
    padding: 8px 10px
}

.tableContainer.purple table tr:not(:last-of-type) td {
    border-bottom: 2px solid #d4d2e8
}

.tableContainer.purple table tr td:not(:last-of-type) {
    border-right: 2px solid #d4d2e8
}
