@charset "utf-8";

.zoomController {
    position: absolute;
    display: flex;
    top: 10px
}

.zoomMinus,
.zoomPlus,
.zoomOut {
    position: relative;
    background-color: #f87c1a;
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    cursor: pointer
}

.zoomMinus:hover,
.zoomPlus:hover,
.zoomOut:hover {
    background-color: #ae7c65
}

.zoomMinus {
    background-image: url(../../contents/images/zoomAct/minus.svg)
}

.zoomPlus {
    background-image: url(../../contents/images/zoomAct/plus.svg)
}

.zoomOut {
    border-radius: 6px;
    background-size: 86%;
    background-image: url(../../contents/images/zoomAct/zoomout.svg)
}

.zoomBar {
    position: relative;
    background-color: rgba(0, 0, 0, .5)
}

.zoomBar:after {
    content: '';
    position: absolute;
    border-radius: 8px;
    background-color: #f87c1a
}

.zoomSpin {
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #ffb400;
    cursor: pointer;
    z-index: 1
}

.zoomArea {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 580px
}

.zoomContainer.horizon .zoomController {
    top: 60px;
    left: 60px;
    height: 24px;
    pointer-events: auto;
}

.zoomContainer.horizon .zoomMinus,
.zoomContainer.horizon .zoomOut,
.zoomContainer.horizon .zoomPlus {
    width: 24px;
    height: 100%
}

.zoomContainer.horizon .zoomMinus {
    border-radius: 6px 0 0 6px
}

.zoomContainer.horizon .zoomPlus {
    border-radius: 0 6px 6px 0
}

.zoomContainer.horizon .zoomBar {
    width: 148px;
    height: 100%
}

.zoomContainer.horizon .zoomBar:after {
    top: 9px;
    left: 12px;
    width: 124px;
    height: 7px
}

.zoomContainer.horizon .zoomOut {
    left: 4px
}

.zoomContainer.horizon .zoomSpin {
    top: 6px;
    left: 35px
}

.zoomContainer.vertical .zoomController {
    right: 15px;
    width: 26px;
    flex-direction: column
}

.zoomContainer.vertical .zoomMinus,
.zoomContainer.vertical .zoomOut,
.zoomContainer.vertical .zoomPlus {
    width: 100%;
    height: 24px
}

.zoomContainer.vertical .zoomPlus {
    border-radius: 6px 6px 0 0
}

.zoomContainer.vertical .zoomMinus {
    border-radius: 0 0 6px 6px
}

.zoomContainer.vertical .zoomBar {
    width: 100%;
    height: 148px;
    transform: rotate(180deg)
}

.zoomContainer.vertical .zoomBar:after {
    top: 12px;
    left: 9px;
    width: 7px;
    height: 124px
}

.zoomContainer.vertical .zoomOut {
    margin-top: 4px
}

.zoomContainer.vertical .zoomSpin {
    left: 6px;
    top: 9px
}

.zoomContainer .zoomImgContainer {
    width: 100%
}

.zoomReset {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 42 36'%3E%3Cg%3E%3Cpath d='M28.2,23H13.8c-0.4,0-0.8-0.3-0.8-0.8v-8.5c0-0.4,0.3-0.8,0.8-0.8h14.5c0.4,0,0.8,0.3,0.8,0.8v8.5 C29,22.7,28.7,23,28.2,23z' style='fill:%23ffffff;fill-opacity:1' /%3E%3Cpath d='M10.2,1H7.7C7.3,1,7,1.3,7,1.8V7H1.8C1.3,7,1,7.3,1,7.8v2.5C1,10.7,1.3,11,1.8,11h6h2.5c0.4,0,0.8-0.3,0.8-0.8 V7.7v-6C11,1.3,10.7,1,10.2,1z' style='fill:%23ffffff;fill-opacity:1' /%3E%3Cpath d='M40.2,7H35V1.8C35,1.3,34.7,1,34.2,1h-2.5C31.3,1,31,1.3,31,1.8v6v2.5c0,0.4,0.3,0.8,0.8,0.8h2.5h6 c0.4,0,0.8-0.3,0.8-0.8V7.8C41,7.3,40.7,7,40.2,7z' style='fill:%23ffffff;fill-opacity:1' /%3E%3Cpath d='M40.2,25h-6h-2.5c-0.4,0-0.8,0.3-0.8,0.8v2.5v6c0,0.4,0.3,0.8,0.8,0.8h2.5c0.4,0,0.8-0.3,0.8-0.8V29h5.2 c0.4,0,0.8-0.3,0.8-0.8v-2.5C41,25.3,40.7,25,40.2,25z' style='fill:%23ffffff;fill-opacity:1' /%3E%3Cpath d='M10.2,25H7.7h-6C1.3,25,1,25.3,1,25.8v2.5C1,28.7,1.3,29,1.8,29H7v5.2C7,34.6,7.3,35,7.8,35h2.5 c0.4,0,0.8-0.3,0.8-0.8v-6v-2.5C11,25.3,10.7,25,10.2,25z' style='fill:%23ffffff;fill-opacity:1' /%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: 86% auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #f87c1a;
    border-radius: 6px;
    margin-left: 5px;
}

.zoomMinus,
.zoomPlus,
.zoomReset {
    width: 24px;
    height: 24px;
    display: inline-block;
    cursor: pointer;
}