@charset "utf-8";.wordQuizContent .wordDrag {
    display: flex;
    -ms-display: flex;
    -webkit-display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 90px;
    height: 90px;
    margin: 10px;
    margin-left: 0;
    cursor: pointer;
    border-radius: 50%;
    font-size: 42px;
    text-align: center;
    color: #654a00;
    background-color: #ffb730;
    box-shadow: inset 0 0 0 5px #ffda7d;
    text-shadow: 2px 2px #ff9811
}

.wordQuizContent .wordDrop {
    position: absolute;
    width: 90px;
    height: 90px;
    margin: 0 0 0 10px;
    cursor: pointer;
    border-radius: 50%;
    border: 6px solid rgba(0,0,0,.2)
}

.wordQuizContent .dragObjUL .wordDrag.dragObjComplete {
    opacity: .2
}

.wordQuizContent .wordDrop .wordDrag.dragObjComplete {
    position: absolute;
    top: -9px;
    left: 0
}

.wordQuizBoxBg {
    position: absolute;
    display: block;
    top: 70px;
    right: 50px;
    width: 600px;
    height: 400px;
    text-align: center
}

.wordQuizContent .hintBtn {
    width: 160px;
    height: 50px;
    line-height: normal
}

.wordQuizContent .hintBtn.off {
    pointer-events: none
}

.wordQuizContent .hintBtn.hover {
    background-color: #68197c
}
