@charset "utf-8";.twentyQuizContent .toggle.char_bear {
    position: absolute;
    top: 150px;
    left: 10px;
    width: 295px;
    height: 320px;
    box-shadow: none;
    background: transparent url(../images/life/twentyQuiz/twenty_char.svg) center 0/ 100% auto no-repeat;
    pointer-events: none
}

.twentyQuizContent .toggle.char_bear.complete {
    background: transparent url(../images/life/twentyQuiz/twenty_char_dap.svg) center 0/ 100% auto no-repeat !important
}

.twentyQuizContent .toggle.char_bear.complete .answer {
    display: flex;
    -ms-display: flex;
    -webkit-display: flex;
    justify-content: center;
    align-items: center;
    height: 230px;
    font-size: 50px
}

.twentyQuizContent .moveButtonContainer {
    bottom: 75px;
    width: 500px;
    left: 500px
}

.twentyQuizContent.contentsBox .basicSlider_slides.inner.rightQuiz {
    position: absolute;
    top: 40px;
    right: 20px;
    width: 805px;
    height: 440px;
    padding: 10px 12px;
    border-radius: 12px;
    box-sizing: border-box;
    text-align: justify
}

.twentyQuizContent .buttonContainer {
    right: 20px
}

.twentyQuizContent .rightQuiz>li .innerBox {
    display: flex;
    -ms-display: flex;
    -webkit-display: flex;
    flex-direction: column;
    height: 100%
}

.twentyQuizContent .rightQuiz>li .imgBox {
    display: flex;
    -ms-display: flex;
    -webkit-display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: white;
    text-align: center
}

.twentyQuizContent .rightQuiz>li .imgBox>img {
    height: 320px
}

.twentyQuizContent .rightQuiz .bottomText {
    display: flex;
    -ms-display: flex;
    -webkit-display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: #f5e34a
}

.twentyQuizContent .rightQuiz .bottomText.jContent-C {
    justify-content: center
}

.twentyQuizContent .rightQuiz .bottomText>span {
    padding: 10px
}

.twentyQuizContent .hintBtn::after {
    content: '힌트 한번에 보기'
}

.twentyQuizContent .hintBtn {
    width: 260px;
    height: 50px;
    line-height: normal
}

.twentyQuizContent .hintBtn.hover {
    background-color: #68197c
}

.twentyQuizPopup .orangeTitle {
    display: flex;
    -ms-display: flex;
    -webkit-display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    padding: 10px 0;
    margin: 0 auto;
    border-radius: 0 0 70px 70px;
    background-color: #f60;
    color: white
}
