@charset "utf-8";

@font-face {
  font-family: NotoT;
  src: url("./../font/NotoSansCJKkr-Thin.woff");
  /*font-display: swap;*/
}
@font-face {
  font-family: NotoDL;
  src: url("./../font/NotoSansCJKkr-DemiLight.woff");
  /*font-display: swap;*/
}
@font-face {
  font-family: NotoL;
  src: url("./../font/NotoSansCJKkr-Light.woff");
  /*font-display: swap;*/
}
@font-face {
  font-family: NotoR;
  src: url("./../font/NotoSansCJKkr-Regular.woff");
  /*font-display: swap;*/
}
@font-face {
  font-family: NotoM;
  src: url("./../font/NotoSansCJKkr-Medium.woff");
  /*font-display: swap;*/
}
@font-face {
  font-family: NotoB;
  src: url("./../font/NotoSansCJKkr-Bold.woff");
  /*font-display: swap;*/
}
@font-face {
  font-family: NotoBK;
  src: url("./../font/NotoSansCJKkr-Black.woff");
  /*font-display: swap;*/
}
@font-face {
  font-family: NotoKRB;
  src: url("./../font/NotoSansKR-Black.woff");
  /*font-display: swap;*/
}
@font-face {
  font-family: NotoMR;
  src: url("./../font/NotoSansMonoCJKkr-Regular.woff");
  /*font-display: swap;*/
}
@font-face {
  font-family: NotoMB;
  src: url("./../font/NotoSansMonoCJKkr-Bold.woff");
  /*font-display: swap;*/
}
.NotoT {
  font-family: NotoT;
}
.NotoDL {
  font-family: NotoDL;
}
.NotoL {
  font-family: NotoL;
}
.NotoR {
  font-family: NotoR;
}
.NotoM {
  font-family: NotoM;
}
.NotoB {
  font-family: NotoB;
}
.NotoBK {
  font-family: NotoBK;
}
.NotoKRB {
  font-family: NotoKRB;
}
.NotoMR {
  font-family: NotoMR;
}
.NotoMB {
  font-family: NotoMB;
}
/* 여기 어때 */
@font-face {
  font-family: YGJAL;
  src: url("./../font/ygotjalnanfont.woff");
  /*font-display: swap;*/
}

.YGJAL {
  font-family: YGJAL;
}